.DS_Store
node_modules
build
*.ts
*.log
.idea
packages
.metadata
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
download
*ui-spec.ts
*slow-spec.ts
dist
.vscode
.package-lock.json
src
bin-dev
.github
pre-public
spec
test
docs
*.setup.ts
*.md
tsconfig.json
.eslintrc.json
.prettierrc.json
Makefile
# pkg 二进制文件
s-*
replace-committers.sh*
__tests__
scripts
