.DS_Store
node_modules
build
*.log
.idea
.metadata
jdt.ls-java-project
lerna-debug.log
.nyc_output
coverage
download
*ui-spec.ts
*slow-spec.ts
dist
lib
.vscode
.cache
*/test
*/src
!fc/src
!s-zip/src
package-lock.json
