name: Node.js Package

on:
  release:
    types: [created]

jobs:
  publish-npm:
    if: github.repository == 'Serverless-Devs/Serverless-Devs'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm install
      - run: npm run build
      - name: s latest
        run: npm dist-tag add @serverless-devs/s@${{ github.ref_name }} latest
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: s3 latest
        run: npm dist-tag add @serverless-devs/s3@${{ github.ref_name }} latest
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - run: curl https://npmmirror.com/sync/@serverless-devs/s
      - name: pkg
        run: npm run pkg
      - name: Rename files
        run: |
          mv releases/s-macos s-${{ github.ref_name }}-macos
          mv releases/s-linux s-${{ github.ref_name }}-linux
          mv releases/s-win.exe s-${{ github.ref_name }}-win.exe
      - name: Zip files
        run: |
          zip -r s-${{ github.ref_name }}-macos.zip s-${{ github.ref_name }}-macos
          zip -r s-${{ github.ref_name }}-linux.zip s-${{ github.ref_name }}-linux
          zip -r s-${{ github.ref_name }}-win.exe.zip s-${{ github.ref_name }}-win.exe
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
          files: |
            s-${{ github.ref_name }}-macos.zip
            s-${{ github.ref_name }}-linux.zip
            s-${{ github.ref_name }}-win.exe.zip
