name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  canary:
    if: github.repository == 'Serverless-Devs/Serverless-Devs'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      
      - run: npm install

      - run: npm run build
      - run: npm run canary
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Change package.json name to s3
        run: node ./.github/change-package-name.js

      - run: npm run build
      - run: npm run canary
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - run: curl https://npmmirror.com/sync/@serverless-devs/s
      - name: pkg
        run: npm run pkg
      - name: Rename files
        run: |
          mv releases/s3-macos s-${{ github.ref_name }}-macos
          mv releases/s3-linux s-${{ github.ref_name }}-linux
          mv releases/s3-win.exe s-${{ github.ref_name }}-win.exe
      - name: Zip files
        run: |
          zip -r s-${{ github.ref_name }}-macos.zip s-${{ github.ref_name }}-macos
          zip -r s-${{ github.ref_name }}-linux.zip s-${{ github.ref_name }}-linux
          zip -r s-${{ github.ref_name }}-win.exe.zip s-${{ github.ref_name }}-win.exe
      - name: Install ossutil
        run: curl https://gosspublic.alicdn.com/ossutil/install.sh | sudo bash
      - name: Rename linux files
        run: mv s-${{ github.ref_name }}-linux ${{ github.ref_name }}
      - name: Upload file to OSS
        run: ossutil --endpoint oss-cn-hangzhou.aliyuncs.com --access-key-id ${{secrets.AK}} --access-key-secret ${{secrets.SK}} cp ${{ github.ref_name }} oss://serverless-tool-images/bin/s/

  release:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{secrets.CUSTOM_GITHUB_TOKEN}}

      - uses: actions/setup-node@v3
        with:
          node-version: 16.x

      # - name: Update CHANGELOG.md
      #   id: changelog
      #   uses: requarks/changelog-action@v1
      #   with:
      #     token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
      #     tag: ${{ github.ref_name }}

      # - name: Commit CHANGELOG.md
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     branch: master
      #     commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
      #     file_pattern: CHANGELOG.md
      #     push_options: --force

      - run: npx changelogithub # or changelogithub@0.12 if ensure the stable result
        env:
          GITHUB_TOKEN: ${{secrets.CUSTOM_GITHUB_TOKEN}}